#heading_roomname{
    color:#FFE5B4	;
	font-size: 40px;
	font-family:'Times New Roman', Times, serif;
	font-weight: bold;
    text-align: center;
}
html, body
{
  height: 100%;
  margin: 0;
}

#logout
{
	font-size: 20px; float: right;
}

#output
{
	padding: 10px; width:80%;background: #FFE5B4;border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color:#FFE5B4	;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: #FFE5B4	;
}
.input_div_message_page label
{
	color:#4169e1;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color:#FFE5B4	;
}

.user_tick
{
	width:20px;
}
#btn{
	background-color: #4169e1;
	color: #FFE5B4 ;
	font-weight: bold;
}
